body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-container
{
  min-height:100vh;
}
.containerone{
  padding:0;
  margin:0;
  margin-left: 0px;
  margin-right:0px;
  padding-left: 0px;
  padding-right:0px;
}
.Homepage
{
  margin:2rem;

}
main
{
  /* padding:1rem; */
  flex:1;
  
}
.products
{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}
.product
{
 border:1px solid #404040; 
 margin:1rem;
}
.product img
{
  width:100%;
  max-width:300px;
  object-fit: fill;
}
.rating span{

  color:rgb(16, 191, 30);
}
.product button
{
  background-color: rgb(16, 191, 30);
}
.product-info
{
  padding:1rem;
}
.img-large
{
  max-width:100%;
}

/* Alert box css */
.fade.alert.alert-danger.show{

  margin:20rem 0rem 0rem 20rem;

}
/* Loading Page CSS */
.col-md-6
{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding:10rem 0rem 0rem 0rem ;
}
.Card
{
  display: flex;
  flex-direction: column;
  max-width:400px;
  box-shadow: 4px 8px white;
  padding:2rem;
  border-radius: 1rem;
  background: linear-gradient(-30deg, #23a6d5, #23d5ab);
  color:white;

}
.spinner-border
{
  margin:2rem 0rem;
}

/* Add to Cart Page */
.img-thumbnail
{
  max-height:120px; 
}

/* Signin Page */
.small-container.container
{
    max-width:600px;

}
.mb-3>.btn.btn-primary
{
    background-color: rgba(2, 59, 215, 0.836);
    color:rgb(255, 255, 255);
    margin:1rem 0rem 0rem 0rem;
    padding:0.5rem 1rem;
    
}


/* ------- Check out Steps --------- */

.checkout-steps>div
{
  border-bottom:0.2rem solid rgb(233, 195, 43);
  color:rgb(138, 111, 4);

}
.checkout-steps>div.active
{
  border-bottom:0.2rem solid rgb(0, 198, 17);
  color:black;
}

/* Place Order Screen */
.btn.btn-primary>a
{
  text-decoration: none;
  text-align: center;
  color:white;
}

/* Carousel Adjustment */

.carousel-inner
{
  width:100%;
  margin-left:0px;
  margin-right:0px;
  padding-left:0px;
  padding-right:0px;

}

/* Order Summary Page */
align-items-center.row
{
  align-items: center;
  justify-content: center;
}


/*FOOTER*/

footer {
  background: #000000;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}
/* 
.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
} */

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
