body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-container
{
  min-height:100vh;
}
.containerone{
  padding:0;
  margin:0;
  margin-left: 0px;
  margin-right:0px;
  padding-left: 0px;
  padding-right:0px;
}
.Homepage
{
  margin:2rem;

}
main
{
  /* padding:1rem; */
  flex:1;
  
}
.products
{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}
.product
{
 border:1px solid #404040; 
 margin:1rem;
}
.product img
{
  width:100%;
  max-width:300px;
  object-fit: fill;
}
.rating span{

  color:rgb(16, 191, 30);
}
.product button
{
  background-color: rgb(16, 191, 30);
}
.product-info
{
  padding:1rem;
}
.img-large
{
  max-width:100%;
}

/* Alert box css */
.fade.alert.alert-danger.show{

  margin:20rem 0rem 0rem 20rem;

}
/* Loading Page CSS */
.col-md-6
{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding:10rem 0rem 0rem 0rem ;
}
.Card
{
  display: flex;
  flex-direction: column;
  max-width:400px;
  box-shadow: 4px 8px white;
  padding:2rem;
  border-radius: 1rem;
  background: linear-gradient(-30deg, #23a6d5, #23d5ab);
  color:white;

}
.spinner-border
{
  margin:2rem 0rem;
}

/* Add to Cart Page */
.img-thumbnail
{
  max-height:120px; 
}

/* Signin Page */
.small-container.container
{
    max-width:600px;

}
.mb-3>.btn.btn-primary
{
    background-color: rgba(2, 59, 215, 0.836);
    color:rgb(255, 255, 255);
    margin:1rem 0rem 0rem 0rem;
    padding:0.5rem 1rem;
    
}


/* ------- Check out Steps --------- */

.checkout-steps>div
{
  border-bottom:0.2rem solid rgb(233, 195, 43);
  color:rgb(138, 111, 4);

}
.checkout-steps>div.active
{
  border-bottom:0.2rem solid rgb(0, 198, 17);
  color:black;
}

/* Place Order Screen */
.btn.btn-primary>a
{
  text-decoration: none;
  text-align: center;
  color:white;
}

/* Carousel Adjustment */

.carousel-inner
{
  width:100%;
  margin-left:0px;
  margin-right:0px;
  padding-left:0px;
  padding-right:0px;

}

/* Order Summary Page */
align-items-center.row
{
  align-items: center;
  justify-content: center;
}